<section class="contact">
<h2> Contact Me</h2>
<p>You can reach via</p>
<ul class="contact_list">
<li class="mail"> Directly email: <a href="mailto:ghassan@faraj.io"> Ghassan maslamani gmail come </a>  </li>
<li class="linkedin">  Linkedin: <a href="https://linkedin.com/in/ghassanmas">/in/ghassanmas </a>  </li>
</ul>
</section>